<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umesh's 1st Go APP</title>
    <link rel="stylesheet" src="../static/index.css" />
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

</head>
<body>
    <main>
        <header>
            <ul id="stock-list">
                {{range .Stocks}}
                {{ block "stock-element" .}}
                <li>
                    <h5><strong>$ {{}}</strong>  {{.Ticker}}</h5>
                    <h6>{{.Name}}</h6>
                </li>
                {{end}}
                {{end}}
            </ul>
        </header>
        <section>
            <input placeholder="search.." hx-trigger="keyup changed delayed:500ms" hx-get="/search" hx-target="#search-result" type="search"  name="key"/>
            <div id="search-result"></div>
        </section>
    </main>
</body>
</html>